.header {
  display: flex;
  min-width: 320px;
}

.header-container {
  margin: 0 auto;
  height: 718px;
  background-image: url(../img/header/header_banner_mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;

  @media (min-width: 480px) {
    width: 100vw;
    height: 800px;
    background-image: url(../img/header/header_banner_tablet.png);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    width: 100vw;
    height: 800px;
    background-image: url(../img/header/header_banner_desctop.png);
  }

  @media (min-width: 1210px) {
    width: 100%;
  }
}

.header__main-navbar {
  margin: 0 auto;
  background-color: #27262a;
  display: flex;
  height: 103px;

  @media (min-width: 481px) {
    height: 118px;
    justify-content: space-around;
  }

  @media (min-width: 993px) and (max-width: 1200px) {
    background-color: black;
  }

  @media (min-width: 1210px) {
    width: 100%;
  }
}

.header__navbar-list {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  margin-top: 34px;
  justify-content: space-between;

  @media (min-width: 481px) and (max-width: 992px) {
    width: 100vw;

    height: 118px;
    margin-top: 24px;
  }

  @media (min-width: 993px) and (max-width: 1200px) {
    width: 100vw;

  }

  @media (min-width: 1210px) {
    width: 100%;
  }
}

.header__navbar-item {
  list-style: none;
}

.header__navbar-logo-hover {
  display: flex;

  @media (min-width: 481px) {
    margin-left: 20px;
  }


}

.header__navbar-logo-box {
  width: 43px;
  height: 41px;
  margin-left: 16px;
}

.header__logo-link {
  &:hover {
    .header__logo-img1 {
      display: none
    }

    .header__logo-img2 {
      display: block;
    }

    .header__logo-text {
      color: $secondary-color;
    }
  }
}

.header__logo-img2 {
  display: none;
}

.header__navbar-logo-descr {
  display: none;

  @media (min-width: 481px) {
    display: block;
  }

}

.header__logo-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: $primary-color;
  margin-top: 12px;
  margin-left: 10px;


}

.header__button {
  @include header__btn;
  width: 119px;
  height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  justify-content: center;


  &:hover {
    @include hover;
  }

  @media (min-width: 481px) {
    width: 145px;
    height: 38px;
    position: absolute;
    right: 40px;

    margin-top: 10px;
  }


}

.navbar-item--second {
  @media (min-width: 481px) {
    margin-left: 405 px;
  }
}

.navbar-item--third {
  margin-right: 15px;
}

.header__burger-menu {
  position: relative;
  width: 23px;
  height: 23px;
  display: flex;
  cursor: pointer;

  @media (min-width: 481px) {
    display: none;
  }
}

.header__menu-button {
  display: block;
  width: 23px;
  height: 23px;
  background-color: #27262a;
  position: relative;
  border: transparent;
}

.header__menu-button span,
.header__menu-button span::before,
.header__menu-button span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.header__menu-button span::before,
.header__menu-button span::after {
  content: "";
  display: block;
  transition: 0.2s;
}

.header__menu-button span::before {
  transform: translateY(-5px);
}

.header__menu-button span::after {
  transform: translateY(5px);
}

.header__menu-button__active span {
  height: 0;
}

.header__menu-button__active span::before {
  transform: rotate(45deg);
  animation-fill-mode: forwards;
}

.header__menu-button__active span::after {
  transform: rotate(-45deg);
  animation-fill-mode: forwards;
}

.header__navigation {
  display: none;

  @media (min-width: 481px) and (max-width: 992px) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 102px;
    top: 65px;
  }

  @media (min-width: 993px) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 360px;
    top: 26px;

  }
}

.header__navigation-list {
  position: absolute;
  display: none;
  background-color: #333333;
  width: 291.9px;
  height: 352px;
  margin-top: 63px;
  margin-left: -290px;

  @media (min-width: 480px) and (max-width: 992px) {
    padding-top: 22px;
  }


}

.header__navigation-item {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: $secondary-color;
  list-style: none;
  padding-left: 34px;
  padding-top: 28px;
  border-bottom: 2px solid #4e4e4e;
  margin: 0;

  &:active {
    color: $primary-color
  }

  @media (min-width: 481px) {
    color: $primary-color;
    border-bottom: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    &:hover {
      color: $secondary-color;

    }
  }

  @media (min-width: 1200px) {
    padding-left: 50px;
  }


}

.header__navigation-item span::before {
  content: "";
  display: none;
  position: absolute;
  width: 8px;
  height: 53px;
  left: 3px;
  top: 19px;
  background: $primary-color;

}

.header__navigation-item:active span::before {
  display: block;
}

.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 19px;
  color: $secondary-color;

  @media (min-width: 481px) {
    font-size: 72px;
    line-height: 72px;
    margin-top: 69px;
  }
}

.header__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $primary-color;
  margin: auto 20px;

  @media (min-width: 480px) and (max-width: 992px) {
    font-size: 24px;
  }

  @media (min-width: 993px) and (max-width: 1200px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.header__main-button {
  @include header__btn;
  width: 290px;
  height: 45px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 29px;
  padding-left: 29px;
  margin: 80px auto 0;
  margin-top: 428px;

  &:hover {
    @include hover;
  }

  @media (min-width: 481px) and (max-width: 992px) {
    width: 390px;
    height: 62px;
    font-size: 21px;
    line-height: 23px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 61px;
    padding-left: 61px;
    margin: 0 auto;
    margin-top: 473px;
    position: relative;
    bottom: 30px;

  }

  @media (min-width: 993px) {
    margin-top: 473px;
  }
}