.revolutionary-editor {
   min-width: 320px;
   max-width: 860px;
   margin: 80px auto 0;
}

.revolutionary-editor__title {
   font-weight: 700;
   font-size: 26px;
   line-height: 28px;
   color: #635C73;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 27px;

   @media (min-width: $tablet-bp) {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 33px;
   }

   @media (min-width: $desktop-bp) {
      font-size: 54px;
      line-height: 54px;
      margin-bottom: 35px;

   }
}

.revolutionary-editor__subtitle {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   margin: auto 20px;
   margin-bottom: 36px;

   @media (min-width: $tablet-bp) {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 24px;
   }

   @media (min-width: $desktop-bp) {
      margin-bottom: 30px;
   }
}

.revolutionary-editor__buttons {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 10px;
   row-gap: 25px;
   margin: 0 5px;
}

.revolutionary-editor__btn {
   background-color: #E5E5E5;
   border: 1px solid grey;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   padding: 4px 7px;

   &>svg {
      position: relative;
      top: 3px;
      left: 0;
   }

   &>span {
      font-weight: 700;

   }
}

.revolutionary-editor__btn-counter {
   padding: 4px;
   border: 1px solid grey;
   border-left: none;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}