.people-talk__container {
  margin: 0 auto;
  min-width: 320px;
  height: 1545px;
  background-image: url(../img/people-talk/section_pta_banner_mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6px;
  margin-bottom: -6px;
  text-align: center;

  @media (min-width: 700px) and (max-width: 992px) {
    height: 882px;
    background-image: url(../img/people-talk/section_pta_banner_tablet.png);
  }

  @media (min-width: 993px) {
    height: 769px;
    background-image: url(../img/people-talk/section_pta_banner_desctop.png);
  }


}

.people-talk__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 53px;

  @media (min-width: 481px) and (max-width: 992px) {
    font-size: 42px;
    line-height: 44px;
    padding-top: 82px;
    padding-bottom: 78px;
  }

  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
    padding-top: 108px;
    padding-bottom: 85px;
  }
}

.people-talk__review-wrap {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media (min-width: 993px) {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.people-talk__review-list {
  list-style: none;
  margin: 0 auto;
  margin: 2em;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

  @media (min-width: 481px) and (max-width: 992px) {
    margin-right: 56px;
    margin-left: 56px;
  }

  @media (min-width: 993px) {
    margin-right: 86px;
    margin-left: 86px;
  }
}

.people-talk__review-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: 993px) {
    width: 354px;
  }
}

.people-talk__review-body {
  margin-top: 33px;
  padding: 0;

  @media (min-width: 481px) and (max-width: 992px) {
    width: 270px;
  }

  @media (min-width: 993px) {
    width: 354px;
  }
}

.people-talk__review-subtitle {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}

.people-talk__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a291a5;
  margin-top: 37px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 22px;

  @media (min-width: 481px) and (max-width: 992px) {
    margin-top: 68px;
    margin-bottom: 12px;
  }

  @media (min-width: 993px) {
    margin-top: 90px;
    padding-left: 246px;
    padding-right: 246px;
  }
}

.people-talk__decor-line {
  display: block;
  width: 245px;
  height: 2px;
  background-color: #645766;
  margin-right: 37px;
  margin-left: 37px;
  margin-top: 22px;

  @media (min-width: 481px) and (max-width: 992px) {
    width: 555px;
    margin-right: 106px;
    margin-left: 106px;
    margin-top: 19.5px;
  }

  @media (min-width: 993px) {
    width: 780px;
    margin: 0 auto;
    margin-top: 15.5px;
    padding: 0;

  }


}

.people-talk__img {
  margin: 0 auto;
  padding: 0;
}