.subscription-pricing {
   @include bg-image("../img/subscription-pricing/bg-phone.png");
   padding-bottom: 20px;
   min-width: 320px;

   @media (min-width: $tablet-bp) {
      @include bg-image("../img/subscription-pricing/bg-tablet.png");
      padding-top: 88px;
      padding-bottom: 94px;
   }

   @media (min-width: $desktop-bp) {
      @include bg-image("../img/subscription-pricing/bg-desktop.png");
      padding-top: 112px;
      padding-bottom: 60px;
      padding-right: 5vw;
      padding-left: 5vw;
   }
}

.subscription-pricing__title {
   font-weight: 700;
   @include text(28px, 42px);
   color: #FFFFFF;
   text-align: center;

   @media (min-width: $tablet-bp) {
      @include text(42px, 44px);
   }

   @media (min-width: $desktop-bp) {
      @include text(48px, 50px);
   }
}

.subscription-pricing__cards-wrraper {
   margin: 0 auto;
   margin-top: 32px;

   @media (min-width: $tablet-bp) {

      right: 60px;
      position: relative;
      margin-top: 39px;
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      max-width: 650px;
      row-gap: 71px;
      column-gap: 25px;
   }

   @media (min-width: $desktop-bp) {
      position: static;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      max-width: fit-content;
      margin-top: 112px;
      column-gap: 15px;
   }
}

.subscription-pricing__card {
   background-color: rgba(255, 255, 255, 0.11);
   width: 257px;
   margin: 0 auto;
   margin-bottom: 18px;
   padding-bottom: 39px;
   max-height: 450px;

   @media (min-width: $tablet-bp) {
      width: 40vw;
      max-width: 257px;
      margin: 0;
   }
}


.subscription-pricing__card-title {
   text-transform: uppercase;
   font-size: 24px;
   color: #FFFFFF;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.06);
   padding-top: 36px;
   padding-bottom: 36px;
}

.subscription-pricing__card-price {
   margin-top: 30px;
   @include text(60px, 62px);
   color: #FFFFFF;
   text-align: center;

   &>span {
      font-weight: 700;

   }
}

.subscription-pricing__card-price-subtitle {
   @include text(14px, 16px);
   color: #FFFFFF;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
}

.subscription-pricing__card-line {
   width: 60px;
   background-color: #8D81AC;
   border: none;
   height: 5px;
   margin-top: 38px;
}

.subscription-pricing__card-content {
   text-align: center;
   @include text(16px, 28px);
   color: #FFFFFF;
   margin-top: 30px;
   max-width: 240px;
   margin-right: auto;
   margin-left: auto;
   min-height: 56px;
}

.subscription-pricing__card-btn-wrraper {
   margin: 37px auto 0;
   background-color: rgba(255, 255, 255, 0.06);
   border-radius: 25px;
   color: #FFFFFF;
   text-align: center;
   width: 163px;
   padding: 15px 0;
   cursor: pointer;
}

.subscription-pricing__card-btn {
   text-transform: uppercase;
   color: #FFFFFF;
}

.subscription-pricing__card--active {
   background-color: rgba(46, 30, 48, 0.4);
   max-height: fit-content;
   position: relative;
   width: 299px;

   @media (min-width: $tablet-bp) {
      width: 50vw;
      max-width: 299px;
      bottom: 40px;
      left: 0;
      max-width: 340px;
   }

   &>.subscription-pricing__card-title {
      background-color: rgba(0, 0, 0, 0.11);
      padding-top: 43px;
      padding-bottom: 43px;
   }

   &>.subscription-pricing__card-price {
      @include text(82px, 84px);
      margin-top: 14px;
   }

   &>.subscription-pricing__card-price-subtitle {
      margin-top: 16px;
   }

   &>.subscription-pricing__card-line {
      margin-top: 46px;
   }

   &>.subscription-pricing__card-content {
      margin-top: 40px;
      width: 200px;
      margin-right: auto;
      margin-left: auto;
      @include text(16px, 32px);
   }

   &>.subscription-pricing__card-btn-wrraper {
      margin-top: 83px;
      padding: 18px 0;
      width: 190px;
   }
}