.what-you-get {
   margin-top: 120px;
   text-align: center;
   min-width: 320px;
   padding-bottom: 20px;

   @media (min-width: $desktop-bp) {
      background-color: #F4F4F4;
      padding-top: 100px;
      display: grid;
      grid-template-areas:
         "content title"
         "content image"
      ;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 33px;
   }
}




.what-you-get__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   color: #8D81AC;
   margin: 0 43px;

   @media (min-width: $tablet-bp) {
      font-size: 42px;
      line-height: 44px;
   }

   @media (min-width: $desktop-bp) {
      grid-area: title;
      margin-top: 0;
      font-size: 3.2vw;
   }

   @media (min-width: 1201px) {
      font-size: 40px;
   }

}

.what-you-get__items-wrraper {
   margin-top: 50px;

   @media (min-width: $tablet-bp) {
      margin-left: 20px;
      margin-right: 20px;
   }

   @media (min-width: $desktop-bp) {
      grid-area: content;
      margin-top: 0;
      position: relative;
      bottom: 35px;
      left: 0;
   }
}

.what-you-get__item {
   margin: 38px 22px 0;

   @media (min-width: $tablet-bp) {
      display: flex;
      justify-content: end;
      align-items: center;
   }

   &:first-child {
      @media (min-width: $desktop-bp) {
         margin-top: 0;
      }
   }
}

.what-you-get__item-img {
   height: 100%;

   @media (min-width: $tablet-bp) {
      margin-left: auto;
      margin-right: auto;
   }

   @media (min-width: $desktop-bp) {
      grid-area: image;
   }

}



.what-you-get__item-content {

   @media (min-width: $tablet-bp) {
      text-align: left;
      min-width: 320px;
      width: 80%;
   }
}

.what-you-get__item-content-title {
   font-weight: 400;
   font-size: 16px;
   color: #323232;
   margin-top: 27px;
}

.what-you-get__item-content-text {
   font-family: 'Lato', sans-serif;
   margin-top: 14px;
   font-size: 14px;
   line-height: 21px;
   color: #848E97;

   @media (min-width: $tablet-bp) {
      font-family: 'Montserrat', sans-serif;
   }
}

.what-you-get__image {
   margin-top: 64px;
   width: 100%;
   height: 115vw;
   background-image: url("../img/what-you-get/tablet&desktop-img.png");
   background-repeat: no-repeat;
   background-size: cover;

   @media (min-width: $tablet-bp) {
      margin-top: 76px;
      background-image: url("../img/what-you-get/tablet&desktop-img.png");
   }

   @media (min-width: $desktop-bp) {
      margin-top: 0;
      max-height: 519px;
   }
}