@mixin bg-image($img-path) {
   background-image: url($img-path);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

@mixin text($size, $lh) {
   font-size: $size;
   line-height: $lh;
}
@mixin header__btn {
   background: $primary-color;
   color: $secondary-color;
   font-style: normal;
   font-weight: 700;
   border-radius: 40px;
   border-color: transparent;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin hover {
   background-color: $secondary-color;
   color: $primary-color;
}